<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dice Gave value: <%= diceval  %></h1>
    <% if (diceval == 6) {%>
        <h1>Nice You Won</h1>
        <% } %>
    
</body>
</html>