<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your Post</title>
    <link rel="stylesheet" href="/style.css">
<body>
    <div class="container">
        <h1 class="heading">Edit Your username</h1>
        <div class="name">
            <h2>You are about to edit  <%= user.email %> </h2>
           
        </div>
        <Form method="post" action="/user/<%= user.id %>?_method=Patch">
            <label for="username">
                Username
            </label>
                <textarea name="username" id="username" cols="20" rows="2"><%= user.username %></textarea>
           
            
            <div class="password-container">
              <label for="password"> Enter your Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <span class="confirm-password" onclick="togglePassword()">Show</span>
              </div>
            
            
            <button class="btn">Submit</button>
        </Form>
    </div>
 
</body>
<script src="/app.js"></script>
</html>