<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Welcome to Home</h1>
    <h3>User Count: <%= userCount %></h3>
    <div class="btn-container">
      <p>
        <a href="http://localhost:8080/user/new" id="atag" class="btn">Join Now</a>
      </p>  
        <p >
            <a href="http://localhost:8080/user" id="atag" class="btn">See All user</a>
        </p>
    </div>
 
    
</body>
</html>