<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Welcome to Store</h1>
    <h3>Mobile Order Count: <%= mobileCount %></h3>
    <div class="btn-container">
      <p>
        <a href="http://localhost:8080/orders/new" id="atag" class="btn">New Order</a>
      </p>  
        <p >
            <a href="http://localhost:8080/orders" id="atag" class="btn">See All Orders</a>
        </p>
    </div>
 
    
</body>
</html>