<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="Create">
        <h1>Create your Post</h1>
        <form method="post" action="/posts" class="form">
            <input placeholder="Enter Your Name" type="text" name="name" required>
            <input placeholder="Enter Your UserName" type="text" name="username" required>
            <textarea placeholder="Enter Your Post" name="content" id="content" cols="30" rows="10" required></textarea>
            <button>Submit</button>
            
        </form>
     
    </div>
    
</body>
</html>