<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <% for (let chat of chats) { %>
            <div class="chats">
                <p class="from">From <%= chat.from %></p>
                <p class="msg"><%= chat.message %></p>
                <p class="to"> Recived by <%= chat.to %></p>

            </div>
            <% } %>
    </div>
</body>
</html>